name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      working-directory: ./Backend
    - name: Install Dependencies
      run: composer install
      working-directory: ./Backend
    - name: Generate key
      run: php artisan key:generate
      working-directory: ./Backend
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
      working-directory: ./Backend
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
      working-directory: ./Backend
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit
      working-directory: ./Backend
